{% load static %}
{% load mathfilters %}

<div id="content" class="mt-6">
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    List Of All Clients
  </h4>
  <div class="mb-6">
    <a href="{% url 'client_form' %}" hx-boost="true" hx-indicator="#my-indicator">
      <button
        class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
      >
        Add Client Form
      </button>
    </a>
  </div>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Client</th>
            <th class="px-4 py-3">Address</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Date</th>
           
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for client in clients %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <!-- Avatar with inset shadow -->
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="{% static 'assets/img/default.png' %}"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <a hx-boost="true" href="{% url 'client_detail' client.pk %}" hx-indicator="#my-indicator">
                    <p class="font-semibold">
                      {{client.first_name|title}} {{client.last_name|title}}
                    </p>
                  </a>
                  <p class="text-xs text-gray-600 dark:text-gray-400">
                    Customer
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">{{ client.address|title }}</td>
            <td class="px-4 py-3 text-xs">
              <span
                class="px-2 py-1 font-semibold leading-tight bg-green-100 rounded-full dark:text-green-100 {% if client.status == 'active'%}text-green-700 dark:bg-green-700{% else %}text-red-600 dark:bg-red-600{% endif %}"
              >
               {{client.status|title}}
              </span>
            </td>
            <td class="px-4 py-3 text-sm">{{ client.created }}</td>
         
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
    >
      <span class="flex items-center col-span-3">
        Showing {% if page_obj.number > 1%}{{page_obj.number|sub:1}}{% endif %}1-{% if page_obj.number == page_obj.paginator.num_pages%}{{page_obj.paginator.count}}{%else%}{{page_obj.number|mul:10}}{%endif%} of {{page_obj.paginator.count}}
      </span>
      <span class="col-span-2"></span>
      <!-- Pagination -->
      <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
        <nav aria-label="Table navigation">
          <ul class="inline-flex items-center">
              <a href="?page=1" hx-boost="true">
              <li>
                <button
                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
                aria-label="Previous"
                >
                First
                </button>
              </li>
            </a>
            {% if page_obj.has_previous %}
            <li>
              <a
                hx-boost="true"
                href="?page={{ page_obj.previous_page_number }}"
              >
                <button
                  class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
                  aria-label="Previous"
                >
                  <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </a>
            </li>
            {% endif %} 
            {% for num in page_obj.paginator.page_range %} 
            {% if page_obj.number == num %}
            <li>
              <a href="?page={{ num }}">
                <button
                  class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue"
                >
                  {{ num }}
                </button>
              </a>
            </li>

            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li>
              <a href="?page={{ num }}" hx-boost="true">
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue"
                >
                  {{ num }}
                </button>
              </a>
            </li>

            {% endif %} 
            {% endfor %} 
            {% if page_obj.has_next %}
            <li>
              <a hx-boost="true" href="?page={{ page_obj.next_page_number }}">
                <button
                  class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-blue"
                  aria-label="Next"
                >
                  <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </a>
            </li>
            {% endif %}
          <li>
            <a href="?page={{page_obj.paginator.num_pages}}" hx-boost="true">
              <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
              aria-label="Previous"
              >
              Last
              </button>
            </a>
          </li>
          
          </ul>
        </nav>
      </span>
    </div>
  </div>
</div>
