{% extends 'base.html' %} {% block content %}
<div class="flex items-center justify-center mt-6">
  <div
    class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg shadow-md dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
    role="dialog"
    id="client_modal"
  >
  <form action=""></form>
    <form
      action="{% url 'transaction_form' %}"
      hx-boost="true"
      method="POST"
      class="text-gray-700 dark:text-gray-300"    
    >
      <!-- Modal body -->
      <div class="mt-4 mb-6">
        <!-- Modal title -->
        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
          Add Transaction
        </p>

        {% csrf_token %}
        
        {%for field in form %}
          {% if field.label != 'Status' and field.label != 'Month' %}
            {{field.label}}
          {%endif%}
          <div class="text-sm text-red-600">
            {{field.errors}}
          </div>
          {{field}}
        {%endfor%}
      </div>
      <footer
        class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800"
      >

        <button
          class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
          type="submit"
        >
          Submit
        </button>
      </footer>
    </form>
  </div>
</div>
{% endblock %}
