{% extends 'base.html' %}
{% load l10n %} {% block content %}
<div
id="print-this"  class="min-w-0 p-4 mt-6 space-y-2 bg-white rounded-lg shadow-xs dark:bg-gray-800"
>
  <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
    Transaction Detail
  </h4>
    
  <p class="text-gray-600 dark:text-gray-400">
    <span>Transaction Id:</span> {{object.pk}}
  </p>
    
    <p class="text-gray-600 dark:text-gray-400">
        <a href="{% url 'client_detail' object.client.pk %}" hx-boost="true" hx-indicator="#my-indicator">
        <span>Client Name:</span> {{object.client.first_name|title}} {{object.client.last_name|title}}
    </a>
    </p>
  
    
        <p class="text-gray-600 dark:text-gray-400">
            <a href="{% url 'item_detail' object.item.pk %}" hx-boost="true" hx-indicator="#my-indicator">
            <span>Item Name:</span> {{object.item.item|title}} -- SN {{object.item.serial_number|unlocalize}}
        </a>
        </p>
    
  <p class="text-gray-600 dark:text-gray-400">
    <span>Interest Rate:</span> {{object.interest_rate|title}} %
  </p>
  <p class="text-gray-600 dark:text-gray-400">
    <span>Interest Amount:</span> P {{object.interest_amount}} 
  </p>
  <p class="text-gray-600 dark:text-gray-400">
    <span>Total Amount:</span>  P {{object.total}}
  </p>
  <p class="text-gray-600 dark:text-gray-400">
    <span>Date Pawned:</span> {{object.date_pawned}}
  </p>
  <p class="text-gray-600 dark:text-gray-400">
    <span>Due Date:</span> {{object.due_date}}
  </p>
  <p class="text-gray-600 dark:text-gray-400">
    <span>Status:</span> {{object.status|title}}
  </p>


  {% if object.status != 'Paid' and object.status != 'Forfeit' %}
  <div class="flex items-center justify-between">
    <div id="hide-this" class="flex space-x-2">
      <a hx-confirm="Are you sure you want to renew?" href="{% url 'transaction_renew' object.pk %}" hx-boost="true" hx-indicator="#my-indicator">
        <button
          class="flex items-center justify-between px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
        >
          <svg
            fill="currentColor"
            class="w-4 h-4 mr-2 -ml-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"
            />
          </svg>
          <span>Renew</span>
        </button>
      </a>
      <a hx-confirm="Are you sure? You cannot undone this action" href="{% url 'transaction_paid' object.pk %}" hx-boost="true" hx-indicator="#my-indicator">
        <button 
          class="flex items-center justify-between px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green"
        >
          <svg
            fill="currentColor"
            class="w-4 h-4 mr-2 -ml-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"
            />
          </svg>
          <span>Paid</span>
        </button>
      </a>
      {% if object.status == 'Pending'%}
      <a hx-confirm="Are you sure? You cannot undone this action" href="{% url 'transaction_forfeit' object.pk %}" hx-boost="true" hx-indicator="#my-indicator">
        <button 
          class="flex items-center justify-between px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
        >
          <svg
            fill="currentColor"
            class="w-4 h-4 mr-2 -ml-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"
            />
          </svg>
          <span>Forfiet</span>
        </button>
      </a>
      {%endif%}
    </div>
    {% endif %}
    <div id="hidden-print">
      <button
          x-data
          @click="print()" 
          class="flex items-center justify-between px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-orange-500 border border-transparent rounded-lg active:bg-orange-600 hover:bg-orange-700 focus:outline-none focus:shadow-outline-green"
        >
        <svg 
        fill="currentColor"
        class="w-4 h-4 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 16H0V6h20v10h-4v4H4v-4zm2-4v6h8v-6H6zM4 0h12v5H4V0zM2 8v2h2V8H2zm4 0v2h2V8H6z"/>
      </svg>
          <span>Print</span>
        </button>
    </div>
  </div>
</div>
{% endblock content %}
